In [1]:
import pandas as pd

In [8]:
data = pd.read_csv("data/yt_id_list.csv").iloc[:,1:]

In [10]:
data

         P_ID        yt_id
0      546633  cE_rTwvuBhE
1      609600  oiOXiBQrBQw
2      778616  gmKX82GqHA8
3      469786  8MmT3-7i7qs
4       85652  0YvQdJ3u6sA
...       ...          ...
14995  606887  -C3DpsLjoHQ
14996  608068  s_MHBXu8roY
14997  600432  pvREmCi6ktE
14998  605802  Ch2GgrfSblQ
14999  612236  dapCVV9iCho

[15000 rows x 2 columns]

In [14]:
da_tacos = pd.read_csv("data/da-tacos_benchmark.csv", sep=';')

In [15]:
da_tacos

,work_title,work_artist,perf_title,perf_artist,release_year,work_id,perf_id,instrumental,perf_artist_mbid,mb_performances,W_ID,P_ID
0,Under Control,Theo Hutchcraft,Under Control,Beth,2016,W_163930,P_546633,No,36a50773-0a73-4cef-b5ea-532c00af50fd,{'75f8d0b2-a985-4d66-95d8-4e8ce9e796ad': {'len...,163930,546633
1,Pullman,Giorgio Conte,Pullman,Nuova Equipe 84,1972,W_173322,P_609600,No,NaN,NaN,173322,609600
2,Mandolin Man,Mike Kosser,Mandolin Man,Jim & Jesse,1980,W_197587,P_778616,No,09410112-c24e-405d-a0d3-cbe5b737f3cb,{'18e43bd6-64a4-4336-800a-f9657ba0bac9': {'len...,197587,778616
3,Through My Sails,Neil Young,Through My Sails,Micadelia,2009,W_71642,P_469786,No,NaN,NaN,71642,469786
4,Three Imaginary Boys,Robert Smith,Three Imaginary Boys,Sarabeth Tucek,2008,W_68797,P_85652,No,9c8faddc-00e6-4ea6-9972-0dac313f2e09,{'6a978b9f-09b1-4ff7-b40d-8cc3fae279c3': {'len...,68797,85652
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,Natalie,Ari Levine,Natalie,Bruno Mars,2012,W_172887,P_606887,No,afb680f2-b6eb-4cd7-a70b-a63b25c763d5,{'bf27a8c7-73c0-4925-9c4a-b4cceb533b44': {'len...,172887,606887
14996,Whiskey Rock A Roller,Ed King,Whiskey Rock-A-Roller,Lynyrd Skynyrd,1975,W_173063,P_608068,No,c544ed4d-2390-4442-a83e-1ea2883b09c8,{'48cb9f31-ecc4-4ef5-a845-0143d7630bfe': {'len...,173063,608068
14997,King of Oak Street,Alex Harvey [US],King of Oak Street,Kenny Rogers & The First Edition,1970,W_171758,P_600432,No,007554f9-945c-48cb-a825-17dcb3c5fbd2,{'3f037797-e174-4e22-bf0c-2d7222949fe4': {'len...,171758,600432
14998,Remmidemmi,Bartosch Jeznach,Remmidemmi (Yippie Yippie Yeah),Deichkind,2006,W_172714,P_605802,No,5de80871-f721-4c7c-b0c5-4ad0d350c232,{'cb1c80cc-6872-4eba-ad3d-cbe82d8845ba': {'len...,172714,605802
14999,Railway Hotel,Mike Batt,Railway Hotel,Mike Batt with The London Symphony Orchestra,1977,W_173688,P_612236,No,38712b4c-0fd4-4c65-8c7a-45676fecc973,{'0c4a6777-36a8-4d2b-9673-68f37af36bd7': {'len...,173688,612236

In [20]:
data.P_ID = data.P_ID.apply(lambda x: "P_" + str(x))

In [31]:
pd.merge(da_tacos, data, on="P_ID", how="left").to_csv("da-tacos_benchmark.csv", sep=';', index=None)

In [28]:
da_tacos = da_tacos.drop(["perf_id", "work_id"], axis=1)

In [29]:
da_tacos

,work_title,work_artist,perf_title,perf_artist,release_year,instrumental,perf_artist_mbid,mb_performances,W_ID,P_ID
0,Under Control,Theo Hutchcraft,Under Control,Beth,2016,No,36a50773-0a73-4cef-b5ea-532c00af50fd,{'75f8d0b2-a985-4d66-95d8-4e8ce9e796ad': {'len...,W_163930,P_546633
1,Pullman,Giorgio Conte,Pullman,Nuova Equipe 84,1972,No,NaN,NaN,W_173322,P_609600
2,Mandolin Man,Mike Kosser,Mandolin Man,Jim & Jesse,1980,No,09410112-c24e-405d-a0d3-cbe5b737f3cb,{'18e43bd6-64a4-4336-800a-f9657ba0bac9': {'len...,W_197587,P_778616
3,Through My Sails,Neil Young,Through My Sails,Micadelia,2009,No,NaN,NaN,W_71642,P_469786
4,Three Imaginary Boys,Robert Smith,Three Imaginary Boys,Sarabeth Tucek,2008,No,9c8faddc-00e6-4ea6-9972-0dac313f2e09,{'6a978b9f-09b1-4ff7-b40d-8cc3fae279c3': {'len...,W_68797,P_85652
...,...,...,...,...,...,...,...,...,...,...
14995,Natalie,Ari Levine,Natalie,Bruno Mars,2012,No,afb680f2-b6eb-4cd7-a70b-a63b25c763d5,{'bf27a8c7-73c0-4925-9c4a-b4cceb533b44': {'len...,W_172887,P_606887
14996,Whiskey Rock A Roller,Ed King,Whiskey Rock-A-Roller,Lynyrd Skynyrd,1975,No,c544ed4d-2390-4442-a83e-1ea2883b09c8,{'48cb9f31-ecc4-4ef5-a845-0143d7630bfe': {'len...,W_173063,P_608068
14997,King of Oak Street,Alex Harvey [US],King of Oak Street,Kenny Rogers & The First Edition,1970,No,007554f9-945c-48cb-a825-17dcb3c5fbd2,{'3f037797-e174-4e22-bf0c-2d7222949fe4': {'len...,W_171758,P_600432
14998,Remmidemmi,Bartosch Jeznach,Remmidemmi (Yippie Yippie Yeah),Deichkind,2006,No,5de80871-f721-4c7c-b0c5-4ad0d350c232,{'cb1c80cc-6872-4eba-ad3d-cbe82d8845ba': {'len...,W_172714,P_605802
14999,Railway Hotel,Mike Batt,Railway Hotel,Mike Batt with The London Symphony Orchestra,1977,No,38712b4c-0fd4-4c65-8c7a-45676fecc973,{'0c4a6777-36a8-4d2b-9673-68f37af36bd7': {'len...,W_173688,P_612236